html{
	background-image:url(wavegrid.png);
	margin: 0;
  	padding: 0;
  	border: 0;
  	outline: 0;
  	vertical-align: baseline;
	
}


h3{
	color: blue;
	text-align: left;
	font-size: large;
}

div{
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
	width: 720px;
	border-width:0px;
	border-color: black;

	
}
p{
	font-size: medium;
	color: #1b1e27;
	text-align: left;
	font-family: "Century Gothic";
	
}
#contenido {
	padding: 1em;
	background: white;
	border: 1px solid #bebebe;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
h1{
	
	color: #F0F0F0;
	text-align: center;
}
h2{
	text-align: left;
}
#header{
padding: 1em;
	background: #5B6B78;
	border-color:red;
}

#twitter{
	box-sizing: border-box;
	border-left: 28px solid black
	
	margin-bottom: -20px;
	width: 720px;
	border-width:0px;
	border-color: black;
}





